@import "../../index.scss";
.video-card{
    height: 20rem;
    width: 100%;
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    cursor: pointer;
    @include md(){
        height: 30rem;
    }
    display: flex;
    align-items: flex-end;
    h5{
        margin: 1rem;
        font-size: 1rem;
        @include sm(){
            font-size: 1.2rem;
        }
        @include md(){
            margin:2rem;
        }
        @include lg(){
            font-size: 1.4rem;
        }
        @include xlg{
            font-size: 1.5rem;
        }
    }
}