@import "../../index.scss";

.select-body-part-video{
    height: 4rem;
    width: 100%;
    background-color: $color-primary;
    position: relative;
    pointer-events: none;
    max-width: 40rem;
    margin: 5rem auto;
    &:hover{
        background-color: $color-hover-primary;
        .icon-container{
            background-color: $color-hover-primary;
        }
    }
    select{
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 1rem;
        color: white;
        height: 100%;
        width: 100%;
        -moz-appearance: none;
        appearance: none;
        -webkit-appearance: none;
        font-size: inherit;
        font-family: inherit;
        background-color: transparent;
        pointer-events: all;
        outline: none;
        
    }
    .icon-container{
        position: absolute;
        right: 0;
        top: 0;
        width: 4rem;
        height: 100%;
        background-color: #9346e6;
        z-index: 11;
        @include center-elements();
        pointer-events: none;
        svg{
            width: 5rem;
            pointer-events: none;
        }
    }
}